<a href="https://colab.research.google.com/github/youkyung2/dataAnalysis/blob/master/%EC%A0%9C%EC%A3%BC%EA%B5%90%ED%86%B5%EB%9F%89%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
train_X = pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainX.csv",encoding='euc-kr')
train_y= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainy.csv",encoding='euc-kr')
test_X= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_testX.csv",encoding='euc-kr')
sub= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/subExample.csv",encoding='euc-kr')

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/youkyung2/dataAnalysis/master/Classification_CustGender/X_test.csv")

In [ ]:
train_X.head(6)

   id          일자   시도명  읍면동명  ...  평균 소요 시간  평균 기온  일강수량  평균 풍속
0   0  2018-01-01  서귀포시   남원읍  ...    40.571   2.35   0.0  3.325
1   1  2018-01-01   제주시   노형동  ...    30.655  -2.30   0.0  1.100
2   2  2018-01-01   제주시   구좌읍  ...    40.719   5.90   0.0  4.100
3   3  2018-01-01   제주시  용담1동  ...    14.000   2.90   0.0  2.400
4   4  2018-01-01   제주시   건입동  ...    43.400   0.80   0.0  2.600
5   5  2018-01-01   제주시  용담2동  ...    27.364   2.90   0.0  2.400

[6 rows x 13 columns]