<a href="https://colab.research.google.com/github/youkyung2/dataAnalysis/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%97%B0%EC%8A%B5_%ED%8A%9C%ED%86%A0%EB%A6%AC%EC%96%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스 연습 튜토리얼

* 참고 URL : https://www.datamanim.com/dataset/99_pandas/pandasMain.html

In [16]:
import pandas as pd
import numpy as np

### 01. Getting & Knowing Data

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/youkyung2/dataAnalysis/master/pandas_data/Jeju.csv', encoding='EUC-KR')
df.head()

      id          일자   시도명  읍면동명  ...  평균 소요 시간  평균 기온  일강수량  평균 풍속
0  22448  2018-01-01   제주시   도두동  ...    29.167    5.0   0.0    2.5
1  22449  2018-01-01   제주시   외도동  ...    30.900    5.0   0.0    2.5
2  22450  2018-01-01   제주시  이도2동  ...    35.692    2.9   0.0    2.4
3  22451  2018-01-01   제주시  일도1동  ...    23.500    2.9   0.0    2.4
4  22452  2018-01-01  서귀포시   대천동  ...    14.375    5.1   0.0    2.3

[5 rows x 13 columns]

In [6]:
df.tail(3)

         id          일자   시도명 읍면동명  ...  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618  32066  2020-04-30   제주시  도두동  ...    29.421   20.3   0.0    3.0
9619  32067  2020-04-30  서귀포시  안덕면  ...    49.189   17.6   0.0    3.5
9620  32068  2020-04-30   제주시   연동  ...    27.765   14.1   0.0    4.8

[3 rows x 13 columns]

In [13]:
df.columns[df.dtypes != 'object']

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [17]:
df.select_dtypes(include=np.number).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [18]:
df.select_dtypes(include=np.object).columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [19]:
df.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [23]:
df.describe()

                 id          거주인구  ...         일강수량        평균 풍속
count   9621.000000  9.621000e+03  ...  9621.000000  9621.000000
mean   27258.000000  3.174315e+05  ...     6.972426     2.753171
std     2777.487804  2.982079e+05  ...    27.617260     1.498538
min    22448.000000  9.305552e+03  ...     0.000000     0.000000
25%    24853.000000  9.539939e+04  ...     0.000000     1.700000
50%    27258.000000  2.221105e+05  ...     0.000000     2.400000
75%    29663.000000  4.106671e+05  ...     1.500000     3.400000
max    32068.000000  1.364504e+06  ...   587.500000    13.333000

[8 rows x 10 columns]

In [24]:
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [29]:
df['평균 속도'].quantile(3/4) - df['평균 속도'].quantile(1/4)

14.854999999999997

In [38]:
len(df['읍면동명'].unique())

41

In [39]:
df['읍면동명'].nunique()

41

In [40]:
df['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)